#PACE: Start of Constraints extracted by PACE from the Design

#NET "db<15>" LOC =  "P100";
#NET "db<14>" LOC =  "P101";
#NET "db<13>" LOC =  "P102";
#NET "db<12>" LOC =  "P173";
#NET "db<11>" LOC =  "P174";
#NET "db<10>" LOC =  "P175";
#NET "db<9>"  LOC =  "P176";
#NET "db<8>"  LOC =  "P178";
NET "db<7>"  LOC =  "P179";
NET "db<6>"  LOC =  "P180";
NET "db<5>"  LOC =  "P181";
NET "db<4>"  LOC =  "P187";
NET "db<3>"  LOC =  "P188";
NET "db<2>"  LOC =  "P189";
NET "db<1>"  LOC =  "P191";
NET "db<0>"  LOC =  "P195";

NET "ab<15>" LOC =  "P199";
NET "ab<14>" LOC =  "P200";
NET "ab<13>" LOC =  "P201";
NET "ab<12>" LOC =  "P202";
NET "ab<11>" LOC =  "P203";
NET "ab<10>" LOC =  "P204";
NET "ab<9>"  LOC =  "P205";
NET "ab<8>"  LOC =  "P206";
NET "ab<7>"  LOC =  "P3";
NET "ab<6>"  LOC =  "P4";
NET "ab<5>"  LOC =  "P5";
NET "ab<4>"  LOC =  "P6";
NET "ab<3>"  LOC =  "P7";
NET "ab<2>"  LOC =  "P8";
NET "ab<1>"  LOC =  "P9";
NET "ab<0>"  LOC =  "P10";

NET "mux<2>" LOC =  "P97";
NET "mux<1>" LOC =  "P96";
NET "mux<0>" LOC =  "P95";

#NET "co<31>" LOC =  "P29";
#NET "co<30>" LOC =  "P30";
#NET "co<29>" LOC =  "P31";
NET "co<28>" LOC =  "P33";
NET "co<27>" LOC =  "P34";
NET "co<26>" LOC =  "P35";
NET "co<25>" LOC =  "P36";
NET "co<24>" LOC =  "P37";
NET "co<23>" LOC =  "P75";
NET "co<22>" LOC =  "P74";
NET "co<21>" LOC =  "P73";
NET "co<20>" LOC =  "P71";
NET "co<19>" LOC =  "P70";
NET "co<18>" LOC =  "P69";
NET "co<17>" LOC =  "P68";
NET "co<16>" LOC =  "P67";
NET "co<15>" LOC =  "P63";
NET "co<14>" LOC =  "P62";
NET "co<13>" LOC =  "P61";
NET "co<12>" LOC =  "P60";
NET "co<11>" LOC =  "P59";
NET "co<10>" LOC =  "P58";
NET "co<9>" LOC =  "P57";
NET "co<8>" LOC =  "P49";
NET "co<7>" LOC =  "P48";
NET "co<6>" LOC =  "P47";
NET "co<5>" LOC =  "P46";
NET "co<4>" LOC =  "P45";
NET "co<3>" LOC =  "P44";
NET "co<2>" LOC =  "P43";
NET "co<1>" LOC =  "P42";
NET "co<0>" LOC =  "P41";

NET "ci<31>" LOC =  "P14";
NET "ci<30>" LOC =  "P15";
NET "ci<29>" LOC =  "P16";
NET "ci<28>" LOC =  "P17";
NET "ci<27>" LOC =  "P18";
NET "ci<26>" LOC =  "P20";
NET "ci<25>" LOC =  "P21";
NET "ci<24>" LOC =  "P22";
NET "ci<23>" LOC =  "P134";
NET "ci<22>" LOC =  "P133";
NET "ci<21>" LOC =  "P127";
NET "ci<20>" LOC =  "P126";
NET "ci<19>" LOC =  "P125";
NET "ci<18>" LOC =  "P123";
NET "ci<17>" LOC =  "P122";
NET "ci<16>" LOC =  "P121";
NET "ci<15>" LOC =  "P120";
NET "ci<14>" LOC =  "P119";
NET "ci<13>" LOC =  "P115";
NET "ci<12>" LOC =  "P114";
NET "ci<11>" LOC =  "P113";
NET "ci<10>" LOC =  "P112";
NET "ci<9>"  LOC =  "P111";
NET "ci<8>"  LOC =  "P110";
NET "ci<7>"  LOC =  "P90";
NET "ci<6>"  LOC =  "P89";
NET "ci<5>"  LOC =  "P88";
NET "ci<4>"  LOC =  "P87";
NET "ci<3>"  LOC =  "P86";
NET "ci<2>"  LOC =  "P83";
NET "ci<1>"  LOC =  "P82";
NET "ci<0>"  LOC =  "P81";

NET "mclk"   LOC =  "P192";
NET "mrd"    LOC =  "P24";
NET "iow"    LOC =  "P99";
NET "ior"    LOC =  "P84";
#NET "ctrl4" LOC =  "P168";
#NET "ctrl3" LOC =  "P98";
#NET "ctrl2" LOC =  "P166";
#NET "ctrl1" LOC =  "P165";
NET "mwr"    LOC =  "P23";
NET "clk"    LOC =  "P94";
#NET "clkg"  LOC =  "P80";
NET "run"    LOC =  "P109";
NET "reset"  LOC =  "P108";
NET "prix"   LOC =  "P193";
NET "krix"   LOC =  "P194";	